<body>
<main>
  <section class="recipes container">
    <header>
      <h1 class="text-center">Search results for: <%= @search_term %></h1>
    </header>
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <article>
          <% @recipes.each do |recipe| %>
          <header>
            <h2 class="text-center"><%= recipe.name %></h2>
          </header>
          <figure>
            <img class="center-block" src="<%= recipe.image_url %>"/>
          </figure>
          <p class="lead"><%= recipe.description %></p>
          <!-- <p class="pull-right"> -->
          <p>
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary btn-lg">View Recipe <i class="glyphicon glyphicon-chevron-right"></i></a>
          </p>
          <% end %>
        </article>
      </div>
    </div>
  </section>
</main>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
