<body>
<main>
  <section class="recipes container">
    <header>
      <% if @search_term.nil? %>
        <h1 class="text-center">My Saved Recipes</h1>
      <% else %>
        <h1 class="text-center">Search results for: <%= @search_term %></h1>
      <% end %>
    </header>
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <article>
          <% @recipes.each do |recipe| %>
          <header>
            <h2 class="text-center"><%= recipe.name %></h2>
          </header>
          <div style="position: relative;">
          <figure>
            <img class="center-block" src="<%= recipe.image_url %>"/>
              <% unless @search_term.nil?%>
              <form method="post" action="/saved_recipes">
              <input type = "hidden" name="recipe_id" value="<%= recipe.id %>">
              <button type="submit" class="btn btn-default" aria-label="Left Align" style="position: absolute; top: 5px; left: 455px; background-color: rgba(255,255,255,0.5)">
              <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: rgb(255,192,203)"></span>
              </button>
              </form>
              <% end %>
          </figure>
          </div>
          <p class="lead"><%= recipe.description %></p>
          <!-- <p class="pull-right"> -->
          <p>
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary btn-lg">View Recipe <i class="glyphicon glyphicon-chevron-right"></i></a>
          </p>
          <% end %>
        </article>
      </div>
    </div>
  </section>
</main>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
