<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<main>
  <section class="recipes container">
    <article class="row">
      <div class="col-sm-10 col-sm-push-1">
        
        <header>
          <h1 class="text-center"><%= @recipe.name %></h1>
        </header>
        
        <div style="position: relative;">
          <form method="post" action="/saved_recipes">
            <figure>
              <img src="<%= @recipe.image_url %>"/>
                <input type = "hidden" name="recipe_id" value="<%= @recipe.id %>">
                  <% if @user %>
                    <% unless @saved_recipes.include?(@recipe)%>
                      <button type="submit" class="btn btn-default" aria-label="Left Align" style="position: absolute; top: 5px; left: 590px; background-color: rgba(255,255,255,0.5)">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: rgb(255,128,114)"></span>
                      </button>
                    <% end %>
                   <% end %>  
            </figure>       
          </form>
        </div>
        
        <p class="lead"><%= @recipe.description%> </p>
          <section class="ingredients">
            <h2>Ingredients</h2>
            
            <ul>
              <% @recipe.recipe_ingredients.each do |ingredient| %>
                <li> <%= ingredient.quantity %> <%= ingredient.unit %> <%= @recipe.ingredients.find(ingredient.ingredient_id).name %> </li>
              <% end %>
            </ul>
          </section>
        
          <section class="directions">
            <h2>Directions</h2>
              <ol>
                <% @instructions.each do |step| %>
                  <li><%= step %></li>
                <% end %>
              </ol>  
          </section>
          
        </div>
    </article>
  </section>
</main>
